*.class

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store
*/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
